<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Klod.Data.PersistenceService.Settings.PersistenceServiceConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
	    
        <Klod.Data.PersistenceService.Settings.PersistenceServiceConfiguration>
            <setting name="CommandTypeAttribute" serializeAs="String">
                <value>type</value>
            </setting>
            <setting name="ParameterNameAttribute" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="ParameterPropertyAttribute" serializeAs="String">
                <value>property</value>
            </setting>
            <setting name="ParameterClassAttribute" serializeAs="String">
                <value>class</value>
            </setting>
            <setting name="ParameterTypeAttribute" serializeAs="String">
                <value>type</value>
            </setting>
            <setting name="ParameterDirectionAttribute" serializeAs="String">
                <value>direction</value>
            </setting>
            <setting name="CommandReturnTableElement" serializeAs="String">
                <value>returnTable</value>
            </setting>
            <setting name="ReturnTableNameAttribute" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="ReturnTableColumnPropertyAttribute" serializeAs="String">
                <value>property</value>
            </setting>
            <setting name="MapElement" serializeAs="String">
                <value>map</value>
            </setting>
            <setting name="MapClassAttribute" serializeAs="String">
                <value>class</value>
            </setting>
            <setting name="MapTypeAttribute" serializeAs="String">
                <value>type</value>
            </setting>
            <setting name="MapStorageAttribute" serializeAs="String">
                <value>storage</value>
            </setting>
            <setting name="MapStorageTypeAttribute" serializeAs="String">
                <value>storageType</value>
            </setting>
            <setting name="CommandsElement" serializeAs="String">
                <value>commands</value>
            </setting>
            <setting name="MappingsFileAddress" serializeAs="String">
                <value>mappings.xml</value>
            </setting>
            <setting name="ParameterUseAttribute" serializeAs="String">
                <value>use</value>
            </setting>
            <setting name="VersionColumnName" serializeAs="String">
                <value>version</value>
            </setting>
            <setting name="InUseColumnName" serializeAs="String">
                <value>inuse</value>
            </setting>
            <setting name="OptimisticConcurrencyErrorMessage" serializeAs="String">
                <value>The record has been changed since your last retrieval.</value>
            </setting>
            <setting name="PessimisticConcurrencyErrorMessage" serializeAs="String">
                <value>The record is lock by another user.</value>
            </setting>
            <setting name="optimisticFieldName" serializeAs="String">
                <value>version</value>
            </setting>
            <setting name="pessimisticFieldName" serializeAs="String">
                <value>InUse</value>
            </setting>
            <setting name="ReturnTableColumnNameAttribute" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="PersistenceServiceAssembly" serializeAs="String">
                <value>Klod.Data.PersistenceService.Relational.SqlServer</value>
            </setting>
            <setting name="PersistenceServerClass" serializeAs="String">
                <value>Klod.Data.PersistenceService.Relational.SqlServer.SqlServerPersistenceServer</value>
            </setting>
            <setting name="ConcurrencySupport" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Connection" serializeAs="String">
                <value>server=localhost;initial catalog=DigitalLibraryServer;integrated security=true</value>
            </setting>
            <setting name="ConnectionName" serializeAs="String">
                <value>myConnection</value>
            </setting>
            <setting name="myConnection" serializeAs="String">
                <value>server=localhost;initial catalog=personDb;integrated security=true;MultipleActiveResultSet=true</value>
            </setting>
            <setting name="ReturnTableColumnPrimaryKeyAttribute" serializeAs="String">
                <value>primaryKey</value>
            </setting>
            <setting name="CommandElement" serializeAs="String">
                <value>command</value>
            </setting>
            <setting name="CommandIdDataTypeAttribute" serializeAs="String">
                <value>idDataType</value>
            </setting>
            <setting name="CommandNameAttribute" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="CommandParametersElement" serializeAs="String">
                <value>parameters</value>
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ParameterTokenAttribute" serializeAs="String">
                <value>token</value>
            </setting>
            <setting name="PersistenceServiceAssemblyLocation" serializeAs="String">
                <value>Z:\Users\klod\Documents\Projects\PersistenceServiceFramework.v4\Klod.Data.PersistenceService.Relational.SqlServer\bin\Release\Klod.Data.PersistenceService.Relational.SqlServer.dll</value>
            </setting>
        </Klod.Data.PersistenceService.Settings.PersistenceServiceConfiguration>
       
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
