<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DALBuilder.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DALBuilder.app>
            <setting name="Optimistic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PessimisticUserId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PessimisticUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="IntegratedSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptFilePath" serializeAs="String">
                <value>z:\me\Desktop\scripts</value>
            </setting>
            <setting name="MappingFilePath" serializeAs="String">
                <value>Z:\me\Desktop\scripts</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DALFactoryClass" serializeAs="String">
                <value>DALBuilder.DomainLayer.SqlServer.SqlServerDALFactory,DALBuilder.DomainLayer.SqlServer</value>
            </setting>
            <setting name="DALFactoryClassLocation" serializeAs="String">
                <value>z:\me\Documents\Projects\PersistenceServiceFramework.v4\DALBuilder.DomainLayer.SqlServer\bin\Release\DALBuilder.DomainLayer.SqlServer.dll</value>
            </setting>
        </DALBuilder.app>
    </applicationSettings>
</configuration>